.swiper-container{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
}
svg{
	position:absolute;
	top:15px;
}
#p1Svg{
	left:-webkit-calc((100% - 350px) / 2);
}
#p1{
	background:#0f4d32;
}

